body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;

}

.bg {
    position: fixed;
    inset: 0;

    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 1) 100%),
        url("../assets/backgroundsmea.png");

    filter: blur(2px);
    z-index: -2;
    transform: scale(1.5);
}


* {
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.judul {
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: #ffffff;
    font-weight: 50;
    transition: 1s ease;
}

h1:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    
}

h3 {
    background-color: #357abd;
    color: #ffffff;
    padding: 12px;
    border-radius: 12px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    transition: 1s ease;

}

.logo:hover {
    transform: scale(1.1);
}

.radio-group {
    display: inline-flex;
    text-align: start;
    gap: 0px;
    text-wrap: nowrap;
    height: 50px;
}

select {
    cursor: pointer;
}

.space {
    position: absolute;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.pointA,
.pointB,
.pointC,
.pointD {
    background: rgb(159, 207, 218);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.card1 {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aleft,
.aright {
    flex: 1 1 300px;
}

.mid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}



.pointB,
.pointC {
    flex: 1 1 400px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    font-size: 14px;
    transition: 0.3s ease;


}


textarea {
    resize: vertical;
}

.checkbox div:has(input:checked) {
    background: #99f59c;
}

input:focus,
select:focus,
textarea:focus {
    background-color: rgb(202, 248, 232);
    outline: none;
    transform: scale(1.03);
}

input:hover,
select:hover,
textarea:hover {
    background-color: rgb(202, 248, 232);
    outline: none;
    transform: scale(1.03);
}

.ekskulgr {
    display: grid;
}

.checkbox {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: rgb(78, 180, 217);
    text-align: center;
    padding: 15px 15px;
    border-radius: 12px;
}

.checkbox div {
    display: flex;
    align-items: center;
    gap: 3px;
    text-wrap: nowrap;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: white;
    transition: 0.3s ease;

}

input[type="checkbox"] {
    cursor: pointer;
}


.checkbox div:hover {
    transform: scale(1.1);
    background-color: rgb(202, 248, 232);


}

.ortuinfo {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.ortuleft,
.orturight {
    flex: 1 1 300px;
}

.btn {
    text-align: center;
    margin: 40px 0;
}

.btnsub,
.btnres {
    padding: 12px 25px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btnsub {
    background: #4a90e2;
    color: white;
}

.btnres {
    background: #e74c3c;
    color: white;
}

.btnsub:hover {
    background: #357abd;
}

.btnres:hover {
    background: #c0392b;
}