* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Segoe UI, Arial, sans-serif;
}

.bg {
    position: fixed;
    inset: 0;

    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 1) 100%),
        url("backgroundsmea.png");

    filter: blur(3px);
    z-index: -2;
    transform: scale(1.5);
}

.logo {
    display: block;
    margin: 0 ;
    max-width: 300px;
    width: 100%;      
    height: auto;
    transition: 1s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #eef2f7, #dce3ec);
    padding: 20px;
}

.returnbox {
    width: 100%;
    max-width: 800px; 
    background: #94cff1;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #1f2937;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #1f2937;
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.section {
    margin-top: 35px;
    background-color: #60b9f0;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.4s;


}


.row {
    flex: 1 1 calc(30% - 10%) ;
    min-width: 200px;
    background: #f8fafc;
    padding: 14px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.4s;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.432);

}

.row:hover {
    background: #edd0e4;
    transform: translateY(-5px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.432);
}

.label {
    font-size: 14px;
    color: #6b7280;
}

.value {
    font-size: 16px;
    color: #111827;
    font-weight: 600;
}

.btnback {
    margin-top: 30px;
    text-align: center;
}

.btnback a {
    background: #4f46e5;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
}

.btnback a:hover {
    transform: scale(1.05);
    background: #ffffff;
    color: #111827;
}

.badge {
    display: inline-block;
    background: #4aefa5;
    color: white;
    padding: 0 10px 5px;
    border-radius: 5px; 
    margin: 3px;
}